/* CSS for RadioButton and RadioButtonGroup */
.radio-button {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.radio-button input {
  margin-right: 8px;
}

.radio-button-group {
  display: flex;
  flex-direction: column;
}
